:root {
    --background: #616161;
    --transparent-grey: rgba(25, 20, 20, 0.5);
}

body {
    background-color: var(--background);
    
}

/* Solid border 
hr.solid {
    border-top: 3px solid #fff;
    margin-bottom: 0;
    padding: 0;
  }

  */

#banner {
    background-image: linear-gradient(to right, #2961c2, #25004f) 
  }

#transparent-1 {
    background-color: var(--transparent-grey);
}

#transparent-2 {
    background-color: var(--transparent-grey);
}

/*  UV Index rating classes */

.uv-min {
    background-color: green;
}
